@model Patient

<h1>Register</h1>

<form method="post">
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="FullName" />
        <label asp-for="FullName"></label>
        <span class="text-danger" asp-validation-for="FullName"></span>
    </div>
    
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="NationalId" />
        <label asp-for="NationalId"></label>
        <span class="text-danger" asp-validation-for="NationalId"></span>

    </div>
    
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Email" />
        <label asp-for="Email"></label>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="PhoneNumber" />
        <label asp-for="PhoneNumber"></label>
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="DateOfBirth" type="date" />
        <label asp-for="DateOfBirth"></label>
        <span class="text-danger" asp-validation-for="DateOfBirth"></span>
    </div>
    
    <button class="btn btn-primary" type="submit">Register</button>
</form>